body {
  background-color: #d7c097;
}

.main {
  margin: 100px auto;
  width: 500px;
  text-align: center;
  border: 10px solid #007e6e;
  background-color: #e7deaf;
}

.main-list {
  list-style: none;
}

.main-list > li {
  padding: 10px;
}
