body {
  background-color: #fffcfb;
}

.main {
  width: 300px;
  height: 300px;
  border: 3px solid #ed3500;
  margin: 100px auto;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  text-align: center;
  color: #093fb4;
}

.menu-list {
  width: 200px;
  height: 110px;
  margin: 0 auto;
}

li {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}
